<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="../static/style.css">
    </header>
    <body>
        <div class="login-form">
            <form class="continue" action="#" onsubmit="continuefunc(event, true)">
                <input type="text" name="username" placeholder="Username" id="user-login" required>
                <input type="submit" name="continue" value="Continue" id="continue-button">
           </form>
           <form class="login" action="#">
                <input type="password" name="password" placeholder="Password" id="user-password" required>
                <input type="submit" name="login" value="Login" id="login-button">
           </form>
        </div>
    </body>
    <script src="../static/script/login.js"></script>
</html>